body {
    background-color: indigo;
    color: white;
}


.questions {
    padding-right: 4vw;
    padding-left: 4vw;
    margin: auto;
    width: 80%;
}


.container {
    margin-bottom: 5vw;
    padding: 5vw;
}


.quizButton {
    text-align: center;
}

button {
    background-color: gold;
    padding: 1vw;
    margin: 0.4vw;
    width: 60%;
}

#viewHS {
    background-color: transparent;
    border: none;
    color: gold;
    width: 25%;
}

#startQuiz {
    width: 10%;
}


#textContent {
    padding-right: 4vw;
    padding-left: 4vw;
    margin: auto;
    width: 80%;

}



#title, #caption, #endTitle, #endCaption, #endP {
    margin: auto;
    padding: 0.1vw;
    width: 70%;
    text-align: center;
}

.endContainer {
    color: gold;
}

.hsButtons {
    width: 40%;
}

#hsResults {
    background-color: grey;
    width: 40%;
}